---
layout: compress
---

{% assign educations = site.data.cv.education_demo %}
{% assign experiences = site.data.cv.experience_demo %}
{% assign projects = site.data.cv.projects_demo %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->


{% include head.html %}
<body>
<div class="wrapper h-resume hresume" itemscope itemtype="http://schema.org/Person">

	<span class="p-name" hidden>{{site.name}}</span>
	<span class="p-title" hidden>{{site.tagline}}</span>

	<div class="sidebar-wrapper">

		{% include vcard.html %}

		{% include education.html %}

		{% include language.html %}

		{% include interests.html %}

		{% include about.html %}

	</div>

	<div class="main-wrapper">

		{% include career-profile.html %}

		{% include experience.html %}

		{% include projects.html %}

		{% include expertise.html %}

	</div><!--//main-body-->
</div>

{% include footer.html %}

{% include scripts.html %}
</body>
</html>



