---
layout: home
---
{% assign educations = site.data.cv.education %}
{% assign experiences = site.data.cv.experience_en %}
{% assign projects = site.data.cv.projects_en %}
{% assign expertise = site.data.cv.expertise %}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->


{% include head.html %}
<body>
<div class="wrapper h-resume hresume" itemscope itemtype="http://schema.org/Person">

	<span class="p-name" hidden>{{site.author}}</span>
	<span class="p-title" hidden>{{page.title}}</span>

	<div class="sidebar-wrapper">

		{% include vcard.html %}

		{% include education.html %}

		{% include language.html %}

		{% include interests.html %}

		{% include about.html %}

	</div>

	<div class="main-wrapper">

		{% include career-profile.html %}

		{% include expertise.html %}

		{% include experience.html %}

		{% include projects.html %}



	</div><!--//main-body-->
</div> 

{% include scripts.html %}
</body>

</html>

