<div class="remove-container container-block">
<h2 class="container-block-title">About Theme</h2>
<ul class="list-unstyled interests-list">
	<li>
		<a target="_blank" href="https://www.youtube.com/watch?v=Jnmj1dXDbNk"><li>How to use?</li></a>
	</li>

	<!-- Microformats -->
	<li>Using
		<a href="http://schema.org/">schema.org</a>
		-
		<a target="_blank" href="https://search.google.com/structured-data/testing-tool#url={{ site.website }}">
			<i class="fa fa-check" style="color:green;" title="Google Structured Data Testing Tool"></i>
		</a>
	</li>

	<li>
		Microformats
		<a href="http://microformats.org/wiki/hresume">hResume</a>
		-
		<a target="_blank" href="http://hcard.geekhood.net/?url={{ site.website }}">
			<i class="fa fa-check" style="color:green;" title="Microformats validator"></i>
		</a>
	</li>

	<li>Microformats2
		<a target="_blank" href="http://microformats.org/wiki/h-resume" title="Specs">h-resume</a>
		-
		<a target="_blank" href="http://pin13.net/mf2/?url={{ site.website }}">
			<i class="fa fa-check" style="color:green;" title="Microformats2 validator"></i>
		</a>
	</li>

	<li>
		Credit to :
		<ol>
			<li style="display:block;">
				<a href="https://github.com/sharu725">sharu725</a>
			</li>
			<li style="display:block;">
				<a href="http://bertrandbenjamin.com">Benjamin B.</a>
			</li>
		</ol>
	</li>

</ul>
</div><!--//About-->