<section class="section summary-section">
    <h2 class="section-title">
        <i class="fa fa-user"></i>
        Profile
    </h2>

    <ul>
        <li>Domain: <strong>Blockchain, Big Data, Data Mining, Distributed Systems, Paradigm shift</strong></li>
        <li>languages: <strong>Go, Java, Perl, KDB, Python, Scala</strong></li>
        <li>Web: <strong>PHP, CSS5, HTML5, JavaScript, GWT, Drupal, NodeJs, SOAP, REST</strong></li>
        <li>OS: <strong>UNIX, Windows</strong></li>
        <li>Database: <strong>IPFS, LevelDB, Oracle, Sybase, MySQL, DB2, MongoDB, Spark</strong></li>
        <li>Modeling: <strong>UML, Merise</strong></li>
        <li>Methods, Tools: <strong>Scrum, Agile, Jenkins, Jira, Git, perforce</strong></li>
        <li>Other: <strong>Use case analysis, Specification, Test, User assistance, Reporting</strong></li>
    </ul>
</section><!--//section-->
