<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Expertise</h2>

    <div class="skillset">

        {% for exp in expertise %}
        <div class="item">
            <h3 class="level-title p-skill">{{ exp.name }}</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="{{ exp.value }}">
                </div>
            </div><!--//level-bar-->
        </div><!--//item-->
        {% endfor %}

    </div>
</section><!--//skills-section-->