<section class="section experiences-section">

  <h2 class="section-title">
    <i class="fa fa-briefcase"></i>
    EMPLOYMENT AND EXPERIENCE
  </h2>

  {% for exp in include.exps %}

    <div class="item p-experience h-event" itemprop="alumniOf" itemscope itemtype="http://schema.org/Organization">
      <div class="meta">
        <div class="upper-row">
          <h3 class="job-title p-name">{{ exp.jobtitle }}</h3>
          <div class="time">
            <time class="dt-start" datetime="{{ exp.start }}">{{ exp.start }}</time>
            -
            <time class="dt-end" datetime="{{ exp.end }}">{{ exp.end }}</time>
          </div>
        </div><!--//upper-row-->
        <div class="company h-card">
          <a class="p-fn p-org u-url"  target="_blank" itemprop="url"
             href="{{ exp.companyurl }}">
            <span class="name" itemprop="name">{{ exp.company }}</span>
          </a>,
          <span class="p-location">{{ exp.companyloc }}</span>
        </div>
      </div><!--//meta-->

      <div class="details" itemprop="description">
        <p class="p-summary" >{{ exp.summary }}</p>
        <strong>Missions</strong>
        <ul>
          {% for m in exp.missions %}
          <li><i class="p-summary">{{ m }}</i></li>
          {% endfor %}
        </ul>
        <strong>Environnement : </strong>
        <p class="p-skill"><strong>{{ exp.skills }}</strong></p>
      </div><!--//details-->
    </div><!--//item-->
    <hr/>
  {% endfor %}
</section>