    <footer class="footer">
        <div class="text-center">
            <small class="copyright">
                Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank" rel="nofollow">Xiaoying Riley</a> for developers
            </small>
        </div><!--//container-->
    </footer><!--//footer-->