<head>
    <title>{{site.title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.name}}'s resume. {{site.tagline}}">


    <!-- Aggregate distinct skills into the keywords map -->
    {% assign skills = experiences | map: 'skills' | join: ',' | join: ',' | split: ',' %}
    {% assign unique_tags = '' | split: ',' %}
    {% assign skills = skills | sort %}
    {% for tag in skills %}
        {% unless tag == previous %}
            {% assign unique_tags = unique_tags | push: tag %}
        {% endunless %}

        {% assign previous = tag %}
    {% endfor %}

    <meta name="keywords" content= "{{ unique_tags | join: ',' }}">

    <link rel="shortcut icon" href="favicon.ico">

    <!--
       <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    -->
       <!-- Global CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/plugins/font-awesome/css/font-awesome.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/{% if site.style %}{{ site.style}}.css{% else %}styles.css{% endif %}">

    <!-- Print CSS -->
    <link id="print-style" rel="stylesheet" media="print" href="{{site.baseurl}}/assets/css/print.css">


    <link href="http://rdf-translator.appspot.com/convert/microdata/json-ld/http%3A%2F%2Fbertrandbenjamin.com%252Fcv%252Ffr" rel="alternate" type="application/ld+json" hreflang="fr" title="Mon CV francophone" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="{{site.baseurl}}/alternate_json.json" rel="alternate" type="application/ld+json" hreflang="fr" title="CV" />


</head>
