<div class="interests-container container-block">
<h2 class="container-block-title">Interests</h2>
<ul class="list-unstyled interests-list">
<li>Climbing</li>
<li>Ecology</li>
<li>Cooking</li>
</ul>
</div><!--//interests-->
