<div class="languages-container container-block">
	<h2 class="container-block-title">Languages</h2>
	<ul class="list-unstyled interests-list">
		<li class="p-skill">English <span class="lang-desc">(Professional)</span></li>
		<li class="p-skill">French <span class="lang-desc">(Native)</span></li>
		<li class="p-skill">Magyar <span class="lang-desc">(Basic)</span></li>
	</ul>
</div><!--//interests-->