<section class="section projects-section">
  <h2 class="section-title">
    <i class="fa fa-archive"></i>Projects
  </h2>
  <div class="intro">
    <!--//intro-->
  </div><!--//intro-->

  {% for proj in projects %}
  <div class="item">
    <span class="project-title">
      <a href="{{ proj.url }}">{{ proj.name }}</a>
    </span> -
    <span class="project-tagline">{{ proj.tagline }}</span>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->