<section class="skills-section section">
	<h2 class="section-title"><i class="fa fa-rocket"></i>Expertise</h2>
	<div class="skillset">
		<div class="item">
			<h3 class="level-title p-skill">Java &amp; JEE</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="80%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

		<div class="item">
			<h3 class="level-title p-skill">KDB</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="50%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

		<div class="item">
			<h3 class="level-title p-skill">HTML5 &amp; CSS3</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="90%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

		<div class="item">
			<h3 class="level-title p-skill">Javascript ES6</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="85%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

		<div class="item">
			<h3 class="level-title p-skill">Apache Spark</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="80%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

		<div class="item">
			<h3 class="level-title p-skill">Bash &amp; System</h3>
			<div class="level-bar">
				<div class="level-bar-inner" data-level="85%">
				</div>
			</div><!--//level-bar-->
		</div><!--//item-->

	</div>
</section><!--//skills-section-->