<div class="p-contact h-card vcard">

	<div class="profile-container">
		<img class="profile-img u-photo photo" itemprop="image" alt="profile picture"
		     src="{{site.baseurl}}/assets/images/{{site.pic}}"/>

		<h1 class="name p-name p-fn fn" itemprop="name">{{site.name}}</h1>

		<h3 class="tagline p-summary" itemprop="jobTitle">{{site.tagline}}</h3>
	</div><!--//profile-container-->

	<div class="contact-container container-block">
		<ul class="list-unstyled contact-list">


			<li class="print" onclick="window.print();return false;">
				<i class="fa fa-print"></i>
				<a class="u-url url" href="#">
					Print Curriculum
				</a>
			</li>


			{% if site.email %}
			<li class="email">
				<i class="fa fa-envelope"></i>
				<a class="u-email email" itemprop="email" href="mailto:{{site.email}}">
					{{site.email | truncate: 22}}
				</a>
			</li>
			{% endif %}

			{% if site.phone %}
			<li class="phone">
				<i class="fa fa-phone"></i>
				<a class="p-tel tel" itemprop="telephone" href="tel:{{site.phone}}">
					{{site.phone | truncate: 22}}
				</a>
			</li>
			{% endif %}


			{% if site.website %}
			<li class="website">
				<i class="fa fa-globe"></i>
				<a class="u-url url" itemprop="url" target="_blank" href="{{site.baseurl}}">
					{{ site.website | truncate: 25}}
				</a>
			</li>
			{% endif %}

			{% if site.linkedin %}
			<li class="linkedin">
				<i class="fa fa-linkedin"></i>
				<a class="u-url url" itemprop="sameAs" target="_blank" href="http://www.linkedin.com/in/{{site.linkedin}}">
					{{site.linkedin | truncate: 22}}
				</a>
			</li>
			{% endif %}

			{% if site.gitlab %}
			<li class="gitlab">
				<i class="fa fa-github"></i>
				<a class="u-url url" itemprop="sameAs" target="_blank" href="http://gitlab.com/{{site.gitlab}}">
					{{site.gitlab | truncate: 22}}
				</a>
			</li>
			{% endif %}

			{% if site.skype %}
			<li class="skype">
				<i class="fa fa-skype"></i>
				<a>{{site.skype| truncate: 22}}</a>
			</li>
			{% endif %}

			{% if site.google %}
			<li>
				<i class="fa fa-google"></i>
				<!-- rel=me is for google authorship -->
				<a rel="me" itemprop="sameAs" target="_blank" href="https://plus.google.com/{{site.google}}">
					{{site.google | truncate: 22}}
				</a>
			</li>
			{% endif %}


			{% if site.address %}
			<li class="p-adr h-adr adr" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<i class="fa fa-map-marker"></i>
				<span class="p-name" itemprop="name" hidden>Home</span> <!-- name of the vcard keep hidden -->

				<span class="p-street-address street-address" itemprop="streetAddress" hidden>{{site.address.street}}</span>
				<span class="p-postal-code postal-code" itemprop="postalCode">{{site.address.postalCode}}</span>
				<span class="p-locality locality" itemprop="addressLocality">{{site.address.locality}}</span>
				<br>
				<span class="p-country-name country-name" itemprop="addressCountry">{{site.address.country}}</span>
			</li>
			{% endif %}
			
			
			{% if site.g1 %}
			<li class="g1">
				<style>
					.icon {
					    background: url('/cv/assets/images/duniter_favicon.ico');
					    max-width: 16px;
					    max-height: 16px;
					    width: 16px;
					    height: 16px;
					    display: inline-block;
					    background-position: center; 
					}
				</style>				
				
				<a class="u-url url" itemprop="sameAs" target="_blank" href="https://g1.duniter.fr/#/app/wot/{{site.g1}}">
					<i class="icon"></i> {{site.g1 | truncate: 19}}
				</a>
			</li>
			{% endif %}

		</ul>
	</div><!--//contact-container-->
</div>
