
a[href]:after {
    content: none !important;
}

hr{
    display :none;
}

body, ul, div, li, strong {
    font-size: 10pt;
}

.VidESN, .languages-container, .remove-container, .language-switch, footer, .interests-container, .skills-section, .print {
    display: none;
}

.p-contact {
    position: relative;
    float: right;
    right: 0cm;
    width: 160pt;
}

.p-contact li{
    font-size: 8pt;
}

.summary-section ul{
    padding-inline-start:0;
}

.profile-img{
   
    width: auto;
    border-radius: 0;
}

.education-container {
    font-size:10pt;
    position: relative;
    float: left;
    left:0cm;
    top:1em;
    width: 300pt;
    padding-bottom: 15pt;
}

section {
    width:60%;
}

.main-wrapper{
    padding: 0;
    position: relative;
}

.main-wrapper .section {
    margin-bottom: 10pt;
    margin-top: 20pt;
}

.item, .education, .projects-section {
    page-break-inside: avoid;
}

.experiences-section {
    page-break-before: always;
    font-size: 12pt;
    width:100%;
}

.sidebar-wrapper .contact-list li {
    margin-bottom: 5pt;
}

.profile-container{
    padding: 5pt;
}

.job-title {
    font-size: larger;
    font-weight: bolder;
    border-style: none solid solid none;
    border-width: thin;
    padding: 5pt;
}

.sidebar-wrapper {
    min-height: fit-content;
}

.experiences-section, .education-container {
    padding-bottom: 30pt;
}


.summary-section ul, .item, .education {
    padding-left: 25pt;
}

 